Добро пожаловать в телефонный справочник!

Выберите, что Вы хотите сделать:
=========================================

1. Показать все записи
2. Создать запись
3. Обновить запись
4. Удалить запись
5. Показать запись
0. Выйти из программы